# **Model Inferece - Classification Model for Predicting Someone's Income Category**

**`Created by:`**

Michael Nathaniel

---
## **Inference**

Model yang sudah dilatih akan dicoba pada data yang bukan termasuk ke dalam train-set ataupun test-set. Data ini harus dalam format yang asli, bukan data yang sudah di-scaled.

### **1. Import Modul**

Kita akan mengimport modul modul yang diperlukan terlebih dahulu

In [28]:
import pandas as pd
import pickle

### **2. Load Model**

Pertama-tama, kita akan meload model terlebih dahulu.

In [29]:
# Memuat Model

# Memuat model Linear Regression dari file pickle
with open('model.pkl', 'rb') as file_1:
  model = pickle.load(file_1)

### **3. Input Data Inference**

Kita akan membuat data baru yang berisikan informasi yang diperlukan oleh model untuk memprediksi.

In [30]:
# Membuat Data Baru

# Membuat data baru dengan informasi jarak, pengali lonjakan, dan nama armada
data_inf = {
    'age': [36],
    'workclass': ['Private'],
    'education': ['High_Education'],
    'marital-status': ['Single'],
    'occupation': ['Management'],
    'sex': ['Male'],
    'hours-per-week': [50],
    'native-continent': ['North America']
}

# Membuat DataFrame dari data baru
data_inf = pd.DataFrame(data_inf)

# Menampilkan data baru
data_inf

,age,workclass,education,marital-status,occupation,sex,hours-per-week,native-continent
0,36,Private,High_Education,Single,Management,Male,50,North America

### **4. Jalankan Inference**

In [31]:
# Memprediksi dengan Menggunakan Model Linear Regression

# Memprediksi target untuk data baru menggunakan model Linear Regression
y_pred_inf = model.predict(data_inf)

# Menampilkan prediksi untuk data baru
if y_pred_inf == 0:
    print("Pendapatan (income) dibawah atau sama dengan $50.000 per tahun (<=50K).")
else:
    print("Pendapatan (income) diatas $50.000 per tahun (>50K).")

Pendapatan (income) diatas $50.000 per tahun (>50K).